@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', Helvetica, sans-serif;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}